---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Art</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/art.css">
</head>

<body>
    <header>
        <nav><span><a href="/">home</a></span><span>/</span><span>art</span></nav>
    </header>
    <div class="print cover">
        <h1>Miguel Murça</h1>
        <h2>miguelmurca+portfolio@gmail.com</h2>
    </div>
    <div id="viewport">
        {% for art in site.data.art %}
        {% if art.image.ratio <= 1 %}
            {% assign orientation = "vertical" %}
        {% else %}
            {% assign orientation = "horizontal" %}
        {% endif %}
        <article class="item">
            <div class="content">
                <div class="short-description {{orientation}} side">
                    <h3 class="name">{{art.name}}</h3>
                    <p class="blurb">{{art.blurb | smartify }}</p>
                    </p>
                </div>
                <div
                    class="card {{orientation}}"
                    style="aspect-ratio: {{art.image.ratio}};
                        {% if art.image.ratio <= 1 %} 
                            max-width: {{ 90 | times: art.image.ratio }}vh;
                        {% else %}
                            max-height: {{ 90 | divided_by: art.image.ratio }}vw;
                        {% endif %}">
                    <img src="/{{art.image.path}}" alt="{{art.image.alt}}" loading="lazy">
                </div>
            </div>
            <div class="short-description {{orientation}} under">
                <h3 id="name">{{art.name}}</h3>
                <div class="blurb">{{art.blurb | smartify }}</div>
            </div>
            <div class="long-description">{{ art.description | markdownify }}</div>
        </article>
        {% endfor %}
    </div>
    <footer>
        <nav><span><a href="/">home</a></span><span>/</span><span>art</span></nav>
    </footer>
</body>
</html>