---
layout: default
---

<section class="hero is-fullheight is-primary" id="intro">
    <div class="hero-body">    
    <div class="container is-large is-unselectable">
        <div class="columns is-mobile is-vcentered">
            <div class="column is-8" style="height: inherit;">
                <h1 class="title is-uppercase is-size-1">{{ page.title }}</h1> 
                <p class="subtitle">{{ page.bio }}</p>
            </div>
            <div class="column auto">
                <figure class="image is-square">
                    <img src="{{ site.url }}/assets/me.png">
                </figure>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="section fill-screen" id="projects">
    <div class="container is-unselectable">
        <h1 class="title">{{ page.projects_subtitle }}</h1>

        {% capture count %}{{ site.list_horizontal_count }}{% endcapture %}
        {% for game in site.games reversed %}
            {% assign loopindex = forloop.index0 | modulo: count %}
            {% if loopindex == 0 or forloop.first %}
                {% unless forloop.first %}
                </div>
                {% endunless %}
                <div class="tile is-ancestor">
            {% endif %}
                    <div class="tile is-parent">
                        <article class="tile is-child box game-box has-text-centered">
                            <a href="{{ game.url }}">
                            {%if game.thumb %}
                            <figure class="image algin-block">
                                <img src="{{ site.url }}/assets/{{ game.thumb }}" class="is-translucid is-covering align-block">
                            </figure>
                            {% endif %}
                            <div class="content">
                                <p class="title">{% if game.short_title %}{{ game.short_title }}{% else %}{{ game.title }}{% endif %}</p>
                                {% if game.blurb %}
                                <p class="subtitle is-6">{{ game.blurb }}</p>
                                {% endif %}
                            </div>
                            </a>
                        </article>
                    </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
</section>

<section class="hero is-fullheight is-info" id="social">
    <div class="hero-body">
        <div class="container is-large">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-4">
                    <h1 class="title is-uppercase is-size-1-tablet is-size-5-mobile">Social</h1>
                    <p class="subtitle is-size-3-tablet is-size-7-mobile">{{ page.social_subtitle }}</p>
                </div>
                <div class="column auto has-text-centered is-size-7-mobile">
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="icon"><i class="fa fa-twitter"></i></span>
                        <span class="underline-on-hover">@{{ site.twitter_username }}</span>
                    </a>
                </div>
                <div class="column auto has-text-centered is-size-7-mobile">
                    <a href="https://{{ site.itchio_username }}.itch.io">
                        <span class="icon"><i class="fa fa-gamepad"></i></span>
                        <span class="underline-on-hover">{{ site.itchio_username }} on itch.io</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>