@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&family=DM+Serif+Display:ital@0;1&family=DM+Mono:wght@500&display=swap");
#viewport {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.scroll-snap {
  scroll-snap-align: start;
}

.screen {
  width: 100%;
  min-height: 100vh;
}

#splash {
  background-color: #0e0e0e;
  padding-bottom: 5em;
  overflow: hidden;
}

#splash .container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#splash .container .bg-base {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%;
  height: 180%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#splash .container .bg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  #splash .container .bg-container {
    width: 100%;
    height: 100%;
  }
}

#splash .container .bg-container .bg {
  width: 100%;
  height: 100%;
  -webkit-animation: bg-spin 30s linear infinite;
          animation: bg-spin 30s linear infinite;
}

@-webkit-keyframes bg-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes bg-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#splash .container .circle {
  width: 25vw;
  height: 25vw;
  background-color: #fefefe;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

#splash .container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5vw;
  color: #161616;
  -webkit-transform: translateX(0.1ex);
          transform: translateX(0.1ex);
  z-index: 1;
}

#splash .arrow {
  width: 20px;
  height: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-animation: point 1s ease-out infinite;
          animation: point 1s ease-out infinite;
}

@-webkit-keyframes point {
  0% {
    bottom: 2px;
  }
  100% {
    bottom: 8px;
  }
}

@keyframes point {
  0% {
    bottom: 2px;
  }
  100% {
    bottom: 8px;
  }
}

#splash .arrow path {
  fill: #fefefe;
}

@media screen and (max-width: 500px) {
  #splash .arrow path {
    fill: #0e0e0e;
  }
}

#bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4ex;
}

@media screen and (max-width: 500px) {
  #bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 3em;
  }
}

#bio .flex-padding {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

#bio .text-container {
  display: block;
  width: auto;
  max-width: 40vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: \max(3vw, 5vh);
  text-align: right;
  padding-right: 1em;
}

@media screen and (max-width: 500px) {
  #bio .text-container {
    text-align: center;
    padding-right: 0;
    padding-top: 3vh;
    max-width: 90vw;
  }
}

#bio .text-container a {
  color: inherit;
  text-decoration: none;
  /* Wavy underlines */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg preserveAspectRatio='xMinYMin meet' id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift 2s linear infinite;}@keyframes shift {from {transform:translateX(0); stroke-dashoffset:0;}to {transform:translateX(-20px); stroke-dashoffset:-14;}}%3C/style%3E%3Cpath fill='none' stroke='%23aeaeae' stroke-dasharray='5,2' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 1.1em;
  background-size: auto 6px;
  background-repeat: repeat-x;
  padding-bottom: 6px;
}

#bio .me {
  position: relative;
  display: block;
  height: 50vh;
}

@media screen and (max-width: 500px) {
  #bio .me {
    height: 30vh;
  }
}

#bio .me .back-circle {
  position: absolute;
  bottom: 10%;
  right: 15%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 25%;
  height: 25%;
  background-color: #fefefe;
  border-radius: 50%;
  z-index: 1;
}

#bio .me .dash-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: circle-spin 240s linear infinite;
          animation: circle-spin 240s linear infinite;
  width: 95%;
  height: 95%;
  z-index: 2;
  stroke: #fefefe;
  stroke-dasharray: 2,120%;
  stroke-width: 4;
}

@-webkit-keyframes circle-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes circle-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  #bio .me .dash-circle {
    width: 115%;
    height: 115%;
  }
}

@media screen and (max-width: 500px) {
  #bio .me .dash-circle {
    stroke: #aeaeae;
    stroke-dasharray: 2,60%;
    stroke-width: 2;
  }
}

#bio .me .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#physics .container, #art .container, #programming .container {
  position: relative;
  width: 100%;
  max-width: 162vh;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2em;
  padding-left: 10vh;
  padding-right: 10vh;
}

#physics .container .title, #art .container .title, #programming .container .title {
  font-size: calc(16px + 3vw);
}

#physics .title {
  font-family: 'DM Serif Display', serif;
  font-style: italic;
}

#art .title {
  float: right;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
}

#programming .title {
  text-align: center;
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}
/*# sourceMappingURL=styles.css.map */